/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
*/
:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  margin: 0;
}

h1 {
  display: block;
  font-family: var(--heading-font-family);
  font-weight: bold;
  color: black;
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  display: block;
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 64px;
}

p {
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-weight: bold;
  line-height: 1.5;
  font-size: 24px;
}
.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.about-section-content {
  margin: 30px;
}

.img bass-face {
  max-width: 300px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

@media (max-width: 900px) {
  body {
    text-align: center;
  }
  .hero {
    padding: 80px 10px;
  }
  .hero p {
    font-size: 24px;
  }
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  h2 {
    font-size: 44px;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
}
